# Taxi Fares Kaggle Challenge

This project is to forecast the taxi fares in New York city according to a set of data already provided. This is a Kaggle Challenge.

## Load the Data

Read the data from all the CSV files and append the dataset.

In [1]:
import pandas as pd
import os, os.path

path = 'C:/Users/Mat/Documents/GitHub/TaxiFares/Datasets/'

def find_csv_filenames(path, suffix=".csv"):
    filenames = os.listdir(path)
    return [f for f in filenames if f.endswith(suffix)]

filenames = find_csv_filenames(path)

n = 0 # for testing only
df = pd.DataFrame()
for filename in filenames:
    if n < 1: # for testing only
        df = df.append(pd.read_csv(path + filename, index_col = 0))
        print("The file " + filename + " is read.")
        n += 1 # for testing only
    else: # for testing only
        break # for testing only

df.head()

The file data_0_500000.csv is read.

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [2]:
print("Total number of records read: {:,}".format(len(df)))

Total number of records read: 500,000

## Take sample of data (only for tests and code purposes)

In [3]:
sample = 50000
df = df[:sample]
print("Total number of records in the sample: {:,}".format(len(df)))

Total number of records in the sample: 50,000

## Split pickup_datetime into multiple variables

Add variables for year, month, date, weekday, hour and holiday.

In [4]:
# Convert np arrays in datetime format
df['key'] = pd.to_datetime(df.iloc[:]['key'])
df['pickup_datetime'] = pd.to_datetime(df.iloc[:]['pickup_datetime'])

In [5]:
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()
calHoliday = cal.holidays(start=df['pickup_datetime'].min(), end=df['pickup_datetime'].max())

# Create new variables
year = []
month = []
day = []
weekday = []
hour = []
holiday = []
for i in range(0, len(df)):
    y = df.iloc[i]['pickup_datetime'].year
    year.append(y)
    m = df.iloc[i]['pickup_datetime'].month
    month.append(m)
    d = df.iloc[i]['pickup_datetime'].day
    day.append(d)
    weekday.append(df.iloc[i]['pickup_datetime'].weekday())
    hour.append(df.iloc[i]['pickup_datetime'].hour)
    if datetime.date(y, m, d) in calHoliday:
        isHoliday = True
    else: 
        isHoliday = False
    holiday.append(isHoliday)

# Add new data to dataframe
df['year'] = pd.Series(year, index=df.index)
df['month'] = pd.Series(month, index=df.index)
df['day'] = pd.Series(day, index=df.index)
df['weekday'] = pd.Series(weekday, index=df.index)
df['hour'] = pd.Series(hour, index=df.index)
df['holiday'] = pd.Series(holiday, index=df.index)

df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,weekday,hour,holiday
0,2009-06-15 17:26:21.000000100,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,2009,6,15,0,17,False
1,2010-01-05 16:52:16.000000200,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,2010,1,5,1,16,False
2,2011-08-18 00:35:00.000000490,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,2011,8,18,3,0,False
3,2012-04-21 04:30:42.000000100,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,2012,4,21,5,4,False
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,2010,3,9,1,7,False

## Dummy variables

Create binary dummy variables for year, month, day, weekday, timeofday and holidays.

In [6]:
dummy_fields = ['year', 'month', 'day', 'weekday', 'hour']
for each in dummy_fields:
    dummies = pd.get_dummies(df[each], prefix=each, drop_first=False)
    df = pd.concat([df, dummies], axis=1)

fields_to_drop = ['key', 'pickup_datetime', 'year', 'month', 'day', 'weekday', 'hour']
data = df.drop(fields_to_drop, axis=1)

data.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,holiday,year_2009,year_2010,year_2011,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,False,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,False,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,False,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,False,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,False,0,1,0,...,0,0,0,0,0,0,0,0,0,0